
body {
    padding-top: 3rem;
    /* padding-bottom: 3rem; */
    color: #5a5a5a;
}


.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 3rem;
}

.marketing .col-lg-4 p {
    /* margin-right: .75rem;
    margin-left: .75rem; */
}

.marketing > .row > .col > h4 {
    font-weight: 300;
    text-align: left;
    font-size: 1.8rem;
}


header {
    padding: 154px 0 100px;
    background: #01579b;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 140px 0;
}



::-moz-selection {
    color: #fff;
    background: #333 !important;
}

::selection {
    color: #fff;
    background: #333 !important;
}


.filterDiv {
    display: none; 
}
img{
    width: 100%;
}

.show {
    display: block;
}

.active {
    background: #1b9448;
    color: #fff;
}

#myBtnContainer {
  margin-bottom: 20px;
}

.my-service {
  margin-top: 30px;
}

.portfolio-works {
  margin-top: 30px;
}

#about .img-thumbnail {
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 100%;
 }



/* footer */

img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

 footer {
    background: #333;
    color: #868c96;
}

.contact-area{
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}
